@import "tailwindcss";

:root {
  /* Light theme colors */
  --bg-primary: #f3f4f6;
  --bg-secondary: #ffffff;
  --text-primary: #111827;
  --text-secondary: #4b5563;
  --border-color: #e5e7eb;
  --accent-color: #FFCB69;
}

[data-theme="dark"] {
  /* Dark theme colors */
  --bg-primary: #111827;
  --bg-secondary: #1f2937;
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --text-darkmode: #f9fafb;
  --btn-selected: #374151;
  --border-color: #374151;
  --accent-color: #d97706;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.95);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}

.btn-primary {
  background-color: var(--accent-color);
}

.btn-calendar {
  background-color: var(--bg-secondary);
}

.text-primary {
  color: var(--text-primary);
}

.text-secundary {
  color: var(--text-secondary);
}

.text-darkmode {
  color: var(--text-darkmode);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.btn-selected {
  background-color: var(--btn-selected);
}

.theme-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.toggle-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d1d5db;
  border-radius: 13px;
  transition: background-color 0.3s;
}

[data-theme="dark"] .toggle-track {
  background-color: #4b5563;
}

.toggle-thumb {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.toggle-thumb.dark {
  transform: translateX(24px);
}

.toggle-thumb svg {
  width: 14px;
  height: 14px;
}

.shadow-white {
  box-shadow: 0 10px 10px -3px rgb(255, 255, 255, 0.1), 0 4px 6px -4px rgb(255, 255, 255, 0.1);
}

.shadow-white-sm {
  box-shadow: 1px 3px 0 rgb(255, 255, 255, 0.1), 0 1px 2px -1px rgb(255, 255, 255, 0.08);
}